*{
    text-shadow: 0px 0px 10px black;
}
body{
    background: url("https://cdn.forbes.com.mx/2019/06/eric-park-408241-unsplash-640x360.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
label{
    font-weight: bold;
}
header{padding: 10px; width: 100%;position: static;}
.card{display: flex;margin: auto;display: inline-block;}
.fecha{
    display:inline-block;
    font-size: 25px;
    text-align: right;
}