*{color: white;
font-weight: bold;
text-shadow: 0px 0px 10px black;
}
#imgame,.datos{display: flex;margin: auto;display: inline-block;}
#image{
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}
hr{
    background-color: white;
    height: 0.8em;
}
body{
background: url("https://cdn.forbes.com.mx/2019/06/eric-park-408241-unsplash-640x360.jpg") no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
form{
    margin: 100px;
}
header{
    text-align: center;
}

